<p-toolbar class="py-4">
  <ng-template #start>
    <button class="brand" type="button" (click)="this.router.navigate(['backlog'])">
      <img *ngIf="!isDarkMode" src="assets/branding/logo-light.png" alt="OpenPLC Studio" />
      <img *ngIf="isDarkMode" src="assets/branding/logo-dark.png" alt="OpenPLC Studio" />
      <span>OpenPLC Studio</span>
    </button>
    <div class="flex gap-1 items-center">
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        text
        severity="primary"
        size="small"
        (click)="this.router.navigate(['run-configurator'])"
      />
      <p-button
        label="History"
        icon="pi pi-history"
        class="mr-2"
        text
        severity="secondary"
        size="small"
        (click)="this.router.navigate(['backlog'])"
      />
      <p-button
        label="Assets"
        icon="pi pi-folder-open"
        class="mr-2"
        text
        severity="secondary"
        size="small"
        (click)="this.router.navigate(['assets'])"
      />
    </div>
  </ng-template>
  <ng-template #center></ng-template>
  <ng-template #end>
    <button (click)="toggleDarkMode()">
      <i *ngIf="!isDarkMode" class="pi pi-sun"></i>
      <i *ngIf="isDarkMode" class="pi pi-moon"></i>
    </button>
  </ng-template>
</p-toolbar>
