:host::ng-deep {
  p-autocomplete {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    & > .p-autocomplete {
      width: 100%;
      & > input {
        width: 100%;
      }
    }
  }
}

:host::ng-deep {
  p-listbox {
    & > div {
      border-radius: 0px;
      border: none !important;

      & > .p-listbox-list-container {
        max-height: 100% !important;
      }
    }
  }
}

:host::ng-deep {
  p-multiselect {
    border-radius: 0px;
    border-top-left-radius: var(--p-multiselect-border-radius);
    border: none;
    border-bottom: 1px solid var(--p-multiselect-border-color) !important;
  }
}

:host::ng-deep {
  /*modificato da p-button button */
  p-button.small-icon-btn button {
    width: 24px !important;
    height: 24px !important;
    .p-button-icon {
      font-size: 12px;
    }
  }
}

:host::ng-deep {
  p-autocomplete.module-selection-autocomplete > div.p-autocomplete {
    & > input.p-inputtext {
      border-bottom-left-radius: 0px;
    }
    & > button.p-autocomplete-dropdown {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

:host::ng-deep {
  p-autocomplete.advanced-plc-autocomplete > div.p-autocomplete {
    & > input.p-inputtext {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
    & > ul.p-autocomplete-input-multiple {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}

:host::ng-deep {
  p-listbox > div.p-listbox {
    height: 100% !important;
  }
}

:host::ng-deep { /*aggiunto per allinare in alto le schermate di configurazione dei moduli*/
  .p-splitter-panel {
    align-items: flex-start !important;
    overflow-y: auto;
  }
}