<div class="plc-parameter-tree">
  <ng-container *ngTemplateOutlet="settingsList; context: { $implicit: settings, nestedAlgorithm: false }" />
</div>

<ng-template #settingsList let-items let-nestedAlgorithm="nestedAlgorithm">
  <div class="plc-pt-settings">
    @for (setting of visibleSettings(items, nestedAlgorithm); track setting.name) {
      <div class="plc-pt-setting">
        <div class="plc-pt-key">{{ setting.name }}</div>
        <div class="plc-pt-value">
          <ng-container *ngTemplateOutlet="valueNode; context: { $implicit: displayValue(setting) }" />
        </div>
      </div>
    }
  </div>
</ng-template>

<ng-template #valueNode let-value>
  @if (isModuleLike(value)) {
    @if (value.settings?.length) {
      <details class="plc-pt-branch">
        <summary>
          <i class="pi pi-box" aria-hidden="true"></i>
          <span>{{ value.name }}</span>
        </summary>
        <div class="plc-pt-children">
          <ng-container
            *ngTemplateOutlet="settingsList; context: { $implicit: value.settings, nestedAlgorithm: true }"
          />
        </div>
      </details>
    } @else {
      <div class="plc-pt-module">
        <i class="pi pi-box" aria-hidden="true"></i>
        <span>{{ value.name }}</span>
      </div>
    }
  } @else if (isArray(value)) {
    @if (value.length === 0) {
      <span class="plc-pt-empty">Empty</span>
    } @else if (isScalarArray(value)) {
      <div class="plc-pt-tokens">
        @for (item of value; track $index) {
          <span class="plc-pt-token">{{ formatScalar(item) }}</span>
        }
      </div>
    } @else {
      <div class="plc-pt-list">
        @for (item of value; track $index) {
          <ng-container *ngTemplateOutlet="valueNode; context: { $implicit: item }" />
        }
      </div>
    }
  } @else if (isPlainObject(value)) {
    @let objectEntries = entries(value);
    @if (objectEntries.length) {
      <div class="plc-pt-children">
        <div class="plc-pt-settings">
          @for (entry of objectEntries; track entry.key) {
            <div class="plc-pt-setting">
              <div class="plc-pt-key">{{ entry.key }}</div>
              <div class="plc-pt-value">
                <ng-container *ngTemplateOutlet="valueNode; context: { $implicit: entry.value }" />
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <span class="plc-pt-empty">Empty</span>
    }
  } @else {
    <span class="plc-pt-scalar">{{ formatScalar(value) }}</span>
  }
</ng-template>
