:host ::ng-deep {
  

  .p-dialog-header {
    padding-bottom: 0.5rem;
  }

  .breadcrumb-container {
    padding: 0.75rem 0 0.75rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
    padding-left: 8px;

    .p-breadcrumb {
      background: transparent;
      border: none;
      padding: 0;

      .p-menuitem-link {
        cursor: pointer;
        &:hover,
        &:hover * {
          color: #3b82f6;
          text-decoration: underline !important;
        }
      }

      .p-menuitem-text {
        font-size: 0.875rem;
      }
    }
  }
}


:host {
  display: flex;
  width: 100%;
  height: 100%;
}
