<div class="flex justify-center mb-3">
  <p-button
    icon="pi pi-upload"
    severity="secondary"
    label="Load config"
    (onClick)="fileInput.click()"
  ></p-button>
  <input #fileInput type="file" accept=".json" style="display:none" (change)="onUploadConfig($event)" />
</div>
<div class="flex justify-center">
  <div class="w-2/4">
    <p-inputgroup>
      <input type="text" pInputText [(ngModel)]="runName" variant="filled" placeholder="Enter run name" size="large" />
      <p-button
        icon="pi pi-play"
        severity="success"
        size="large"
        class="create-run-button"
        (onClick)="createRun()"
        [disabled]="!isConfigurationValid"
      ></p-button>
    </p-inputgroup>
  </div>
  
</div>
<p-stepper [value]="1">
  <p-step-item [value]="1">
    <p-step>Audio Track</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col pt-4 pr-4">
          <plc-audio-track-picker
            [(audioTracksSelection)]="audioTracksConfig"
            class="max-h-[600px] overflow-y-scroll"
          ></plc-audio-track-picker>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="2">
    <p-step>Packet Loss Simulator</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col pt-4 pr-4">
          <plc-module-configurator [moduleType]="ModuleType.PacketLossSimulator"></plc-module-configurator>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="3">
    <p-step>PLC Algorithm</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col pt-4 pr-4">
          <plc-module-configurator [moduleType]="ModuleType.PLCAlgorithm"></plc-module-configurator>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="4">
    <p-step>Output Analyser</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col pt-4 pr-4">
          <plc-module-configurator [moduleType]="ModuleType.OutputAnalyser"></plc-module-configurator>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>
</p-stepper>
